# Some Pre-processing Processes

pip install kaggle

import json

with open(r'C:\Users\youss\OneDrive\سطح المكتب\Kaggle\kaggle.json') as json_file:
    credentials = json.load(json_file)

with open(r'C:\Users\youss\.kaggle\kaggle.json', 'w') as file:
    json.dump(credentials, file)

from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

#https://www.kaggle.com/datasets/sudhanvahg/crimes-in-las-angeles
api.dataset_download_file('sudhanvahg/crimes-in-las-angeles', #The publisher_user_name/Dataframe name
                          file_name='data2.csv')#Filename with extension

In [7]:
pip install pytest-shutil

Requirement already satisfied: pytest-shutil in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (1.7.0)
Requirement already satisfied: six in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest-shutil) (1.16.0)
Requirement already satisfied: execnet in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest-shutil) (2.1.1)
Requirement already satisfied: contextlib2 in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest-shutil) (21.6.0)
Requirement already satisfied: pytest in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest-shutil) (8.2.2)
Requirement already satisfied: path.py in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest-shutil) (12.5.0)
Requirement already satisfied: mock in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest-shutil) (5.1.0)
Requirement already satisfied: termcolor in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest-shutil) (2.4.0)
Requirement already satisfied: path in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from path.py->pytest-shutil) (16.14.0)
Requirement already satisfied: iniconfig in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest->pytest-shutil) (2.0.0)
Requirement already satisfied: packaging in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest->pytest-shutil) (24.0)
Requirement already satisfied: pluggy<2.0,>=1.5 in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest->pytest-shutil) (1.5.0)
Requirement already satisfied: colorama in c:\users\youss\appdata\local\programs\python\python312\lib\site-packages (from pytest->pytest-shutil) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

import shutil
shutil.unpack_archive(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\data2.csv.zip", r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle")

# Data Processing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\archive\data2.csv" , low_memory=False , encoding='utf-8', delimiter=',')

In [3]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130.0,7.0,Wilshire,784.0,1.0,510.0,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800.0,1.0,Central,182.0,1.0,330.0,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700.0,3.0,Southwest,356.0,1.0,480.0,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037.0,9.0,Van Nuys,964.0,1.0,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200.0,6.0,Hollywood,666.0,2.0,354.0,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698667,230715091,09/26/2023 12:00:00 AM,09/18/2023 12:00:0{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698668,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698669,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698670,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698671,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(698672, 28)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698672 entries, 0 to 698671
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           698672 non-null  object
 1   Date Rptd       698668 non-null  object
 2   DATE OCC        698668 non-null  object
 3   TIME OCC        698667 non-null  float64
 4   AREA            698667 non-null  float64
 5   AREA NAME       698667 non-null  object
 6   Rpt Dist No     698667 non-null  float64
 7   Part 1-2        698667 non-null  float64
 8   Crm Cd          698667 non-null  float64
 9   Crm Cd Desc     698667 non-null  object
 10  Mocodes         602604 non-null  object
 11  Vict Age        698667 non-null  float64
 12  Vict Sex        607450 non-null  object
 13  Vict Descent    607446 non-null  object
 14  Premis Cd       698658 non-null  float64
 15  Premis Desc     698301 non-null  object
 16  Weapon Used Cd  242948 non-null  float64
 17  Weapon Desc     242948 non-null  object
 18  Status          698667 non-null  object
 19  Status Desc     698667 non-null  object
 20  Crm Cd 1        698659 non-null  float64
 21  Crm Cd 2        52153 non-null   float64
 22  Crm Cd 3        1769 non-null    float64
 23  Crm Cd 4        49 non-null      float64
 24  LOCATION        698667 non-null  object
 25  Cross Street    113295 non-null  object
 26  LAT             698667 non-null  float64
 27  LON             698667 non-null  float64
dtypes: float64(14), object(14)
memory usage: 149.3+ MB

In [6]:
df.isna().sum()

DR_NO                  0
Date Rptd              4
DATE OCC               4
TIME OCC               5
AREA                   5
AREA NAME              5
Rpt Dist No            5
Part 1-2               5
Crm Cd                 5
Crm Cd Desc            5
Mocodes            96068
Vict Age               5
Vict Sex           91222
Vict Descent       91226
Premis Cd             14
Premis Desc          371
Weapon Used Cd    455724
Weapon Desc       455724
Status                 5
Status Desc            5
Crm Cd 1              13
Crm Cd 2          646519
Crm Cd 3          696903
Crm Cd 4          698623
LOCATION               5
Cross Street      585377
LAT                    5
LON                    5
dtype: int64

### The Total number of  null cells

In [7]:
df.isna().sum().sum()

3817857

### Drop Null Values

In [8]:
df2 = df.dropna(axis = 0 , how = 'all'  )

In [9]:
df2.isna().sum()

DR_NO                  0
Date Rptd              4
DATE OCC               4
TIME OCC               5
AREA                   5
AREA NAME              5
Rpt Dist No            5
Part 1-2               5
Crm Cd                 5
Crm Cd Desc            5
Mocodes            96068
Vict Age               5
Vict Sex           91222
Vict Descent       91226
Premis Cd             14
Premis Desc          371
Weapon Used Cd    455724
Weapon Desc       455724
Status                 5
Status Desc            5
Crm Cd 1              13
Crm Cd 2          646519
Crm Cd 3          696903
Crm Cd 4          698623
LOCATION               5
Cross Street      585377
LAT                    5
LON                    5
dtype: int64

In [10]:
df2

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130.0,7.0,Wilshire,784.0,1.0,510.0,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800.0,1.0,Central,182.0,1.0,330.0,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700.0,3.0,Southwest,356.0,1.0,480.0,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037.0,9.0,Van Nuys,964.0,1.0,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200.0,6.0,Hollywood,666.0,2.0,354.0,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698667,230715091,09/26/2023 12:00:00 AM,09/18/2023 12:00:0{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698668,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698669,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698670,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698671,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df2.drop(["Cross Street" , "Crm Cd 4" , "Crm Cd 3" , "Crm Cd 2" , "Crm Cd 1"] , axis = 1 , inplace = True)

In [12]:
df2.drop([ "LOCATION" ,"Status"] , axis =1 , inplace = True)

In [13]:
#df2.drop([ "Weapon Used Cd" ] , axis =1 , inplace = True)

In [14]:
df2.shape

(698672, 21)

In [15]:
print(df2["DR_NO"][698668])

  "error" : true

In [16]:
import janitor

In [17]:
df2 = df2.rename_column("DR_NO" ,"Division of records" ).rename_column("Date Rptd" , "date reported"). rename_column("DATE OCC" , "date occured").rename_column("TIME OCC" , "Occurence time").rename_column("Crm Cd" , "Crime Code").rename_column("Crm Cd Desc" , "Crime Code Identifier").rename_column("Status Desc" , "status")

C:\Users\youss\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas_flavor\register.py:157: FutureWarning: This function will be deprecated in a 1.x release. Please use `pd.DataFrame.rename` instead.
  return method(self._obj, *args, **kwargs)

In [18]:
df2.head()

,Division of records,date reported,date occured,Occurence time,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crime Code,Crime Code Identifier,...,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,status,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130.0,7.0,Wilshire,784.0,1.0,510.0,VEHICLE - STOLEN,...,0.0,M,O,101.0,STREET,NaN,NaN,Adult Arrest,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800.0,1.0,Central,182.0,1.0,330.0,BURGLARY FROM VEHICLE,...,47.0,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,Invest Cont,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700.0,3.0,Southwest,356.0,1.0,480.0,BIKE - STOLEN,...,19.0,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,Invest Cont,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037.0,9.0,Van Nuys,964.0,1.0,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,19.0,M,O,405.0,CLOTHING STORE,NaN,NaN,Invest Cont,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200.0,6.0,Hollywood,666.0,2.0,354.0,THEFT OF IDENTITY,...,28.0,M,H,102.0,SIDEWALK,NaN,NaN,Invest Cont,34.0944,-118.3277

In [19]:
df2  = df2.clean_names()

In [20]:
df2.head()

,division_of_records,date_reported,date_occured,occurence_time,area,area_name,rpt_dist_no,part_1_2,crime_code,crime_code_identifier,...,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,lat,lon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130.0,7.0,Wilshire,784.0,1.0,510.0,VEHICLE - STOLEN,...,0.0,M,O,101.0,STREET,NaN,NaN,Adult Arrest,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800.0,1.0,Central,182.0,1.0,330.0,BURGLARY FROM VEHICLE,...,47.0,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,Invest Cont,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700.0,3.0,Southwest,356.0,1.0,480.0,BIKE - STOLEN,...,19.0,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,Invest Cont,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037.0,9.0,Van Nuys,964.0,1.0,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,19.0,M,O,405.0,CLOTHING STORE,NaN,NaN,Invest Cont,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200.0,6.0,Hollywood,666.0,2.0,354.0,THEFT OF IDENTITY,...,28.0,M,H,102.0,SIDEWALK,NaN,NaN,Invest Cont,34.0944,-118.3277

In [22]:
# Condition: Keep rows where the specific column is not NaN and other columns are all NaN
condition = df2["division_of_records"].notna() & df2.drop(columns=["division_of_records"]).isna().all(axis=1)

# Apply the condition to filter the DataFrame
df3 = df2[condition]

In [23]:
df3

,division_of_records,date_reported,date_occured,occurence_time,area,area_name,rpt_dist_no,part_1_2,crime_code,crime_code_identifier,...,vict_age,vict_sex,vict_descent,premis_cd,premis_desc,weapon_used_cd,weapon_desc,status,lat,lon
698668,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698669,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698670,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698671,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df2.drop([698668 , 698669 , 698670  , 698671 , 698667 ] , inplace = True)

C:\Users\youss\AppData\Local\Temp\ipykernel_7388\443866691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop([698668 , 698669 , 698670  , 698671 , 698667 ] , inplace = True)

convert_dict = {'division_of_record': int}
df2 = df2.astype(convert_dict)

### Drop Duplicates

In [25]:
# Drop all duplicates, keep none
df2.drop_duplicates(keep='first' , inplace = True , ignore_index = True)

C:\Users\youss\AppData\Local\Temp\ipykernel_7388\4093079307.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop_duplicates(keep='first' , inplace = True , ignore_index = True)

In [26]:
df2.shape

(698667, 21)

### Using Sketch for optimized EDA

df3 = df2.drop(['division_of_records'] , axis =1) # Thw drop for this additional column because the max. num of columns accepted by sketch is 19 not 20 so I found that the case number is not necessary alot for analysing it with sketch

df3.shape

In [72]:
import sketch

df3.sketch.ask("provide a detailed list of potential data insights and visualizations that can be included in an Exploratory Data Analysis (EDA). The response should include any patterns or trends to look for also add all realtions of data to each other.")

### Seketch Responses

1. Time Series Analysis: The data contains information about the date reported and date occurred, which can be used to analyze trends over time. This can include looking at the frequency of reported crimes, seasonal patterns, and changes in crime rates over the years. 2. Geographic Analysis: The data includes information about the area and area name where the crime occurred. This can be used to create visualizations such as heat maps or choropleth maps to show the distribution of crimes across different areas. It can also be used to identify high crime areas and potential patterns or correlations with other variables. 3. Crime Code Analysis: The data contains information about the type of crime (crime code) and its corresponding description. This can be used to analyze the frequency of different types of crimes and their distribution across different areas or time periods. 4. Age, Sex, and Descent Analysis: The data includes information about the age, sex, and descent of the victim. This can be used to analyze any potential patterns or correlations between these variables and the type of crime, location, or time period. 5. Premise Analysis: The data contains information about the premise code and description where the crime occurred. This can be used to analyze the most common locations for different types of crimes and any potential relationships between premises and other variables. 6. Weapon Description Analysis: The data includes information about the weapon used in the crime (if applicable). This can be used to analyze the frequency of different weapons used in crimes and any potential relationships with other variables such as type of crime or location. 7. Modus Operandi (MOCODES) Analysis: The data contains information about the modus operandi (method of operation) for each crime. This can be used to identify common patterns or techniques used by criminals and any potential relationships with other variables. 8. Status Analysis: The data includes information about the status of each reported crime. This can be used to analyze the outcomes of reported crimes and any potential relationships with other variables. 9. Correlation Analysis: The data contains multiple numerical variables, which can be used to perform correlation analysis and identify any potential relationships between variables. 10. Outlier Detection: The data can be analyzed for outliers, which are data points that deviate significantly from the rest of the data. This can help identify any unusual or extreme cases that may require further investigation. 11. Missing Data Analysis: The data may contain missing values, which can be analyzed to determine if there are any

1. Time Series Analysis: The data contains information about the date reported and date occurred, which can be used to analyze trends over time. This can include looking at the frequency of reported crimes, seasonal patterns, and changes in crime rates over the years. 2. Geographic Analysis: The data includes information about the area and area name where the crime occurred. This can be used to create visualizations such as heat maps or choropleth maps to identify high crime areas and patterns in different regions. 3. Crime Code Analysis: The data contains information about the type of crime (crime code) and its corresponding description. This can be used to identify the most common types of crimes and their frequency, as well as any relationships between different types of crimes. 4. Age, Sex, and Descent Analysis: The data includes information about the age, sex, and descent of the victim. This can be used to analyze any patterns or trends in victim demographics and their relationship to different types of crimes. 5. Premise Analysis: The data contains information about the location (premise) where the crime occurred. This can be used to identify common locations for different types of crimes and any relationships between location and crime type. 6. Weapon Description Analysis: The data includes information about the weapon used (if any) in the crime. This can be used to analyze any relationships between weapon type and crime type, as well as identifying common weapons used in different types of crimes. 7. Status Analysis: The data contains information about the status of the crime (e.g. adult arrest, investigation ongoing). This can be used to analyze the outcomes of reported crimes and any relationships between status and other variables such as crime type or victim demographics. 8. MoCodes Analysis: The data includes information about multiple codes (mocodes) associated with each crime. This can be used to identify any relationships between different codes and their corresponding crime types. 9. Correlation Analysis: The data can be used to identify any correlations between different variables, such as the relationship between crime type and location, or victim demographics and crime type. 10. Data Visualization: The data can be visualized in various ways, such as bar charts, pie charts, scatter plots, and histograms, to identify patterns and trends in the data. This can also help in identifying outliers and any relationships between different variables. 11. Machine Learning: The data can be used to train machine learning models to predict crime rates or identify patterns in crime data.

# Exporting sub-csv files for instant display on my Dash Board

In [33]:
from datetime import datetime

date_reported = df2["date_reported"].to_list()
print(date_reported[0])
date_occured = df2["date_occured"].to_list()
print(date_occured[1])

cases_numbers = []
differences = []
count = 0
for reported, occured in zip(date_reported, date_occured):
            if reported != "nan" and occured != "nan":

                try:
                    date_time_obj_r = datetime.strptime(reported, "%m/%d/%Y %I:%M:%S %p")

                    date_time_obj_o = datetime.strptime(occured, "%m/%d/%Y %I:%M:%S %p")

                    year_diff = abs(date_time_obj_r.year - date_time_obj_o.year)

                    month_diff = abs(date_time_obj_r.month - date_time_obj_o.month)

                    day_diff = abs(date_time_obj_r.day - date_time_obj_o.day)

                    total_diff_in_days = day_diff + (month_diff * 30) + (year_diff * 365)

                    differences.append(total_diff_in_days)
                    
                    count+=1
                    
                except:
                    count+=1
                    print(f"bad format {count}")


for index, row in df2.iterrows():
            case_num = row["division_of_records"]
            case_num = str(case_num)
            case_num = case_num[4:9]
            cases_numbers.append(case_num)

diff_date_bet_report_and_occurence_in_days_df = pd.DataFrame({'case_nuber': cases_numbers, 'differences': differences})
diff_date_bet_report_and_occurence_in_days_df.to_csv(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\Los-Angeles-Crimes-Analysis\report_occurence.csv" , index=False)

03/01/2020 12:00:00 AM
02/08/2020 12:00:00 AM

In [40]:
vict_ages = []
vict_sex_list = []
vict_descent_list = []
crime_code_identifier_list = []
for index , row in df2.iterrows():
    if str(row["vict_age"]).lower() != "nan"  and str(row["vict_sex"]).lower() != "nan" and str(row["vict_descent"]).lower() != "nan" and  str(row["crime_code_identifier"]).lower() != "nan" :
        if float(row["vict_age"]) > 0 or  float(row["vict_age"]) < 0:
            vict_ages.append(abs(row["vict_age"]))
            vict_sex_list.append(row["vict_sex"])
            vict_descent_list.append(row["vict_descent"])
            crime_code_identifier_list.append(row["crime_code_identifier"])

Age_Descent_Sex_crime_code = pd.DataFrame({'sex': vict_sex_list, 'age': vict_ages , 'victim Race': vict_descent_list , 'Crime against the victim' : crime_code_identifier_list})

Age_Descent_Sex_crime_code = Age_Descent_Sex_crime_code.clean_names()

print(Age_Descent_Sex_crime_code.columns)

types_convert_dict = {'sex': str, 'age': float , 'victim_race': str , 'crime_against_the_victim' : str}

Age_Descent_Sex_crime_code = Age_Descent_Sex_crime_code.astype(types_convert_dict)

Age_Descent_Sex_crime_code.to_csv(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\Los-Angeles-Crimes-Analysis\vict_age_sex_descent_crime.csv" , index=False)

Index(['sex', 'age', 'victim_race', 'crime_against_the_victim'], dtype='object')

In [56]:
crimes_area_codes_df = df2[["area" , "area_name"]]
crimes_area_codes_df = crimes_area_codes_df.dropna(axis = 0 , how = 'any'  )
print(crimes_area_codes_df.shape)
crimes_area_codes_df.to_csv(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\Los-Angeles-Crimes-Analysis\crimes_area_codes_df.csv" , index=False)

(698667, 2)

In [57]:
crimes_locations_df = df2[["crime_code_identifier" , "lat" , "lon"]]
crimes_locations_df = crimes_locations_df.dropna(axis = 0 , how = 'any'  )
types_convert_dict = {'lon': float  , 'lat': float , 'crime_code_identifier' : str}
crimes_locations_df = crimes_locations_df.astype(types_convert_dict)
print(crimes_locations_df.shape)
crimes_locations_df.to_csv(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\Los-Angeles-Crimes-Analysis\crimes_locations_df.csv" , index=False)

(698667, 3)

In [28]:
weapon_code_df =df2[["crime_code_identifier" , "weapon_used_cd" ,"weapon_desc"]]
weapon_code_df = weapon_code_df.dropna(axis = 0 , how = 'any'  )
print(weapon_code_df.shape)
weapon_code_df.to_csv(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\Los-Angeles-Crimes-Analysis\weapon_code_df.csv" , index=False)

(242948, 3)

In [82]:
from datetime import datetime
print(df2.columns)
#print(df2["occurence_time"])
time_list = ((df2["occurence_time"]).dropna(axis = 0 , how = 'any'  )).to_list()
str_time_list = []

for time in time_list:
    iterator = str(int(time))
#    print(iterator)
    if len(iterator) == 3 :
        iterator = "000" + iterator
    elif len(iterator) == 2 :
        iterator = "00" + iterator
    elif len(iterator) == 1:
        iterator = "000" + iterator
    str_time_list.append(iterator)

Index(['division_of_records', 'date_reported', 'date_occured',
       'occurence_time', 'area', 'area_name', 'rpt_dist_no', 'part_1_2',
       'crime_code', 'crime_code_identifier', 'mocodes', 'vict_age',
       'vict_sex', 'vict_descent', 'premis_cd', 'premis_desc',
       'weapon_used_cd', 'weapon_desc', 'status', 'lat', 'lon'],
      dtype='object')

In [88]:
hour_time_list = []
    
print(len(str_time_list))

for time in str_time_list:
        date_time_obj = datetime.strptime(time, "%H%M%S")
        formatted_time = date_time_obj.strftime("%H:%M")
        #print(formatted_time)
        hour_time_list.append(formatted_time)
print(len(hour_time_list))
precise_time_df = pd.DataFrame({'hr_min_time' : hour_time_list})
precise_time_df = precise_time_df.clean_names()
precise_time_df.to_csv(r"C:\Users\youss\OneDrive\سطح المكتب\Kaggle\Los-Angeles-Crimes-Analysis\precise_time_df.csv" , index=False)

698667
698667

# Exporting The cleansed Data Frame

In [66]:
convert_dict = {'date_reported': str ,
                'date_occured' : str , 
                'division_of_records' : str}
df2 = df2.astype(convert_dict)

In [67]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 698667 entries, 0 to 698666
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   division_of_records    698667 non-null  object
 1   date_reported          698667 non-null  object
 2   date_occured           698667 non-null  object
 3   occurence_time         698667 non-null  float64
 4   area                   698667 non-null  float64
 5   area_name              698667 non-null  object
 6   rpt_dist_no            698667 non-null  float64
 7   part_1_2               698667 non-null  float64
 8   crime_code             698667 non-null  float64
 9   crime_code_identifier  698667 non-null  object
 10  mocodes                602604 non-null  object
 11  vict_age               698667 non-null  float64
 12  vict_sex               607450 non-null  object
 13  vict_descent           607446 non-null  object
 14  premis_cd              698658 non-null  float64
 15  premis_desc            698301 non-null  object
 16  weapon_desc            242948 non-null  object
 17  status                 698667 non-null  object
 18  lat                    698667 non-null  float64
 19  lon                    698667 non-null  float64
dtypes: float64(9), object(11)
memory usage: 111.9+ MB

In [68]:
df2.to_csv("cleaned_df.csv" , index = False )

# DashBoard Visualization

## Unreliable approach of using an llm to help in EDA

### LLm deployment for optimized EDA

from langchain_community.llms import HuggingFaceHub
huggingfacehub_api_token = ''
llm = HuggingFaceHub(repo_id='tiiuae/falcon-7b-instruct' , huggingfacehub_api_token=huggingfacehub_api_token , model_kwargs={"temperature": 0.95, "max_length": 10000})
input = f"""
I have a dataset in a pandas DataFrame with the following columns and sample data:
{df2.head()}

Please provide a detailed list of potential data insights and visualizations that can be included in an Exploratory Data Analysis (EDA). The response should include any patterns or trends to look for also add all realtions of data to each other. 
"""
output = llm.invoke(input)
print(output)